# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# dbt
02_dbt/target/
02_dbt/dbt_packages/
02_dbt/logs/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db
